html
  head
    title= title
  body
    h1= message
    form(method='post', action='/mac-cms/login')
        input#user_name(name='user_name', placeholder='Username')
        input#password(type='password', name='password', placeholder='password')
        input#submit(type='submit', value='Login', name='submit')