html
  head 
    title=title 
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(rel='stylesheet', href='/main.css')
  body
    #root
    if(props)
      script.
        var props = !{JSON.stringify(props)}
    script(src="/admin.js")